<img src="images/contribution.png" alt="">
<form method="GET" action="/contribution" class="center">
    <button type="submit" class="btn btn-primary center btn-lg btn-success"><i class="fa fa-pencil" aria-hidden="true"></i>  Contribution</button>
</form>