
<img src="images/donate.png" alt="">
<form method="GET" action="/donate" class="center">
    <button type="submit" class="btn btn-primary center btn-lg btn-success"><i class="fa fa-envira" aria-hidden="true"></i>  Donate</button>
</form>

