</div>
<div class="footer">

    <a href="/faq" class="faq">FAQ</a>

    <a class="fab fa-twitter social" href="https://twitter.com/explore"></a>
    <a class="fab fa-instagram social" href="https://www.instagram.com/"></a>
    <a class="fab fa-facebook-f social" href="https://www.facebook.com/"></a>

</div>
</div>
<script src="jQuery/slider.js"></script>
</body>

</html>