</div>
<div class="footer">

    <a href="" class="faq">FAQ</a>

    <i class="fab fa-twitter social"></i>
    <i class="fab fa-instagram social"></i>
    <i class="fab fa-facebook-f social"></i>

</div>
</div>
</body>

</html>