
<img src="images/gallery.png" alt="">
<form method="GET" action="/gallery" class="center">
    <button type="submit" class="btn btn-primary center btn-lg btn-success">Gallery  <i class="fa fa-camera-retro" aria-hidden="true"></i></button>
</form>