<%- include('header.ejs') -%>

<div id="mainSlide" class="carousel slide vertical" data-interval="0"  data-ride="carousel">

    <ol class="carousel-indicators slidebtnc">
      <li data-target="#mainSlide" data-slide-to="0" class="active  slide-button"><p class="slidehover hidden " >Donate</p></li>
      <li data-target="#mainSlide" data-slide-to="1" class=" slide-button"><p class="slidehover hidden">Gallery</p></li>
      <li data-target="#mainSlide" data-slide-to="2" class=" slide-button"><p class="slidehover hidden">Contribution</p></li>
    </ol>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="item">DONATE</div>
      </div>
      <div class="carousel-item">
        <div class="item">GALLERY
        </div>
      </div>
      <div class="carousel-item">
        <div class="item">CONTRIBUTION</div>
      </div>
    </div>
    <a class="carousel-control-prev hidden" href="#mainSlide" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next hidden" href="#mainSlide" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>





<%- include('footer.ejs') -%>