body {
    font-family: 'Roboto Slab', serif;
}

.about {
    color: #3b6978 !important;
    font-size: 2.5vh;
}

.bn {
    border: 0 !important;
    padding: 1vh 0vh !important;
}

.carousel-indicators{
    display: block;
    text-align: right;
}

.title {
    font-family: 'Berkshire Swash', cursive;
    color: #21bf73 !important;
    font-size: 4vh;
}

.faq {
    padding: 2%;
    color: #f9f6f7;
    text-decoration: none;
}

.faq:link {
    text-decoration: none;
}

.faq:visited {
    text-decoration: none;
}

.faq:hover {
    text-decoration: wavy;
    color: white;
}

.faq:active {
    text-decoration: none;
}

.footer {
    height: 10.5vh;
    background-color: #21bf73 !important;
    text-align: center;
}

.header {
    margin: 0rem !important;
    background-color: #ffffff !important;
}

.hidden {
    visibility: hidden;
}

.main {
    height: 80vh;
    background-color: #5fdde5;
    margin: 0;
}

.social {
    padding: 2% 0%;
}

.slide-button {
    background-color: #2b580c !important;
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 100%;
    margin: 0.5rem;
    border: 0!important;
}



.slidebtnc {
    position: fixed;
    margin: 0;
    top: 40%;
    left: 95%;
}
.slide-button:hover {
    visibility: hidden;
}

.slide-button:hover .slidehover{
    visibility: visible;
    position: relative;
    right: 6rem; 
    font-size: 1.5rem;
    width: 8rem;
    height: 2rem;
    border-radius: 10%;
    color: white;
    opacity: 1!important;
}

.item {
    height: 80vh;
    margin: 0;
}






/* Carousel Up Down and Scroll */


  
 
  /*
  .carousel-item.active,
  .carousel-item-left,
  .carousel-item-right {
    display: flex !important;
    justify-content: center;
    align-items: center;
  } */
  
 
 
   
   .vertical .carousel-item-next.carousel-item-left,
  .vertical .carousel-item-prev.carousel-item-right {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .vertical .carousel-item-next,
  .vertical .active.carousel-item-right {
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100% 0);
  }
  
  .vertical .carousel-item-prev,
  .vertical .active.carousel-item-left {
  -webkit-transform: translate3d(0,-100%, 0);
          transform: translate3d(0,-100%, 0);
  }